body{
    margin: 0;
    font-family: 'Poppins', sans-serif;

}
h1{
    font-size: 60px;
}
.name_highlight{
color: tomato;    
}
.half_width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half_width img{
    width: 100%;
}
.top-header{
    background-image: url(images/top-banner.png);
background-repeat: no-repeat;
}
section{
    height: 500px;
}
.link_button{
    text-decoration: none;
    background-image: linear-gradient(lightSalmon, tomato );
    border-radius: 5px;
    padding: 8px 30px;
    color: azure;
    font-weight: 700;
}
.link_button:hover{
    
    background: linear-gradient(to right, #f4791f, #659999); 
    text-transform: uppercase
}